.chatbox-list {
    height: calc(100vh - 206px);
    overflow-x: hidden;
}

.chatbox-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 5px;
    height: 70px;
    border-radius: 5px;
}

.chatbox-item-active {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 5px;
    height: 70px;
    border-radius: 5px;
    background-color: #ecf3ff;
}

.chatbox-item:hover {
    background-color: #f0f2f5;
    cursor: pointer;
}

.chatbox-item__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cdcfd4;
    border-radius: 100%;
    height: 58px;
    width: 58px;
    margin-left: 3px;
    margin-right: 10px;
    font-size: 25px;
    font-weight: 400;
    color: white;
}

.chatbox-item__content {
    position: relative;
    width: 80%;
    display: flex;
    align-items: center;
}

.chatbox-item__content-item {
    display: block;
    position: relative;
    width: 90%;
}

.chatbox-item__name {
    font-size: 15px;
    font-weight: 400;
}

.chatbox-item__name-active {
    font-size: 15px;
    font-weight: 600;
}

.chatbox-item__new-message {
    font-size: 13px;
    font-weight: 400;
    color: #1876f2;
}

.chatbox-item__last-message {
    font-size: 13px;
    font-weight: 300;
}

.chatbox-item__unread-message {
    display: none;
}

.chatbox-item__unread-message-active {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #1876f2;
}

@media only screen and (max-width: 900px) {
    .chatbox-item__content {
        display: none;
    }
}
