.header__user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 3px;
}

.header__user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cdcfd4;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 5px;
}
