.header {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.header__brand {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__form {
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 0px 16px;
    height: 40px;
    width: 270px;
    margin-left: 20px;
}

.header__icon {
    display: flex;
    align-items: center;
    margin-right: 2px;
    height: 100%;
}

.header__search {
    background-color: #f0f2f5;
    width: 100%;
    outline: none;
    border: none;
    height: 38px;
    font-size: 15px;
    font-weight: 200;
    padding: 0px 7px;
    display: flex;
    align-items: center;
}

.header__user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 10px;
    padding: 5px 5px;
    border-radius: 20px;
}

.header__user:hover {
    background-color: #e4e6eb;
}

.header__user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cdcfd4;
    height: 28px;
    width: 28px;
    border-radius: 100%;
    margin-right: 5px;
}

.header__user-name {
    font-size: 15px;
    font-weight: 400;
}

.header__logo {
    height: 40px;
    width: 40px;
    background-size: cover;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 3px;
}

.logout-btn {
    background-color: #f8f9fa;
    border: 1px solid gray;
    border-radius: 5px;
    height: 35px;
}
