.chat-page {
    border-left: 1px solid grey;
    height: 94vh;
    width: 100%;
    position: relative;
}

.chat-form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 75%;
    background-color: white;
    height: 50px;
    bottom: 7px;
}

.chat-form-input {
    display: inline-block;
    outline: none;
    margin-right: 7px;
    border-radius: 10px;
    width: 90%;
    height: 38px;
}
