.chat-page {
    border-left: 1px solid grey;
    height: 94vh;
    width: calc(100vw - 362px);
    position: relative;
}

.chat-form {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    background-color: white;
    height: 50px;
    bottom: 0px;
}

.chat-form-input {
    display: inline-block;
    outline: none;
    border: none;
    background-color: #f0f2f5;
    margin: 7px 7px;
    padding: 0px 5px;
    border-radius: 10px;
    width: 90%;
    height: 38px;
    position: relative;
    top: 2px;
}

.chat-page__user-info {
    top: 57px;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.chat-page__user-info-avatar {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #cdcfd4;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
}

.chat-page__user-info-name {
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (max-width: 900px) {
    .chat-page {
        width: calc(100vw - 102px);
    }
}
