.chat-page {
    border-left: 1px solid #e4e6eb;
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
}

.chat-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.chat-form-input {
    display: inline-block;
    outline: none;
    border: none;
    background-color: #f0f2f5;
    margin: 3px 7px;
    padding: 0px 10px;
    border-radius: 10px;
    width: 90%;
    height: 38px;
}

.chat-page__user-info {
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 4px -2px rgba(0, 0, 0, 0.2);
    margin-bottom: 3px;
}

.chat-page__user-info-avatar {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: #cdcfd4;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
}

.chat-page__user-info-name {
    font-size: 20px;
    font-weight: 500;
}

@media only screen and (max-width: 900px) {
    .chat-page {
        width: calc(100vw - 102px);
    }
}
