.App {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.App__chat-list {
  height: 100%;
  width: 360px;
}

.App__message {
  height: 100%;
  width: calc(100vw - 360px);
}

@media only screen and (max-width: 900px) {
  .App__chat-list {
    width: 100px;
  }
}
